
    <table class="table">
      <tr class="table-primary">
        <th ></th>
        <th >Name</th>
        <th >Price</th>
           <th>Stock</th>
        <%if session[:logged_in]%>
        <th ></th>
        <th ></th>
        <% end %>
      </tr >
      <% i = 1 %>
      <% for data in @db %>
      <%if data.stock != 0%>
        <tr class="table-info">
          <td ><%= i %></td>
          <td ><%= data.name %></td>
          <td ><%= data.price %></td>
          <td ><%= data.stock %></td>
           <%if session[:logged_in]%>
      <%= form_with url:edit_item_path(data.id), data: {turbo:false}, method: :get do |form| %>
          <td ><%= form.submit "edit", name:"edit#{i}",class: "btn btn-secondary" %></td>
          <%end%>
           <%= form_with url:'/main/delete', data: {turbo:false}, method: :post do |form| %>
          <td ><%= form.submit "delete", name:"delete#{i}" ,class: "btn btn-secondary"%></td>
          <%= form.hidden_field :data_id ,value: data.id%>
          <%end%>
        <%end%>
          <% i+=1 %>
        </tr>
        <%end%>
      <% end %>
    </table>
    <%= form_with url:new_item_path, data: {turbo:false}, method: :get do |form| %>
    <%if session[:logged_in]%>
      <%= form.submit "new item" ,class: "btn btn-secondary"%>
  <%end%>
      <%end%>
      <%= form_with url:'/main/inventories', data: {turbo:false} do |form| %>
    <%if session[:logged_in]%>
      <%= form.submit "Go To Inventory" ,class: "btn btn-secondary mt-1"%>
  <%end%>
   
      <%end%>